@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #020617; /* Slate 950 */
}

body {
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Animasi Halus */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}